<form class="legends sheet condition-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
  </header>
  
  {{> "systems/legends/templates/partials/description-editor.hbs" }}
</form>
