// out: false
/**
 * Fonts
 **/
@font-face {
  font-family: "Village";
  src: url(fonts/prisoner/village.ttf);
}

@font-face {
  font-family: "BenchNine";
  src: url(fonts/bench_nine/BenchNine-Regular.ttf);
}

@font-face {
  font-family: "Hey August";
  src: url(fonts/hey_august/HeyAugust.ttf);
}

@font-face {
  font-family: "Komikazoom";
  src: url(fonts/komikazoom/KAMIKZOM.ttf);
}

@font-face {
  font-family: "Covered By Your Grace";
  src: url(fonts/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf);
}

@font-face {
  font-family: "New Tegomin";
  src: url(fonts/New_Tegomin/NewTegomin-Regular.ttf);
}

.title-font() {
  font-family: 'Village';
  font-variant: small-caps;
}

.main-font() {
  font-family: 'BenchNine';
  font-size: 1.1rem;
}

.brush-font() {
  font-family: "Hey August";
  text-transform: uppercase;
  font-weight: normal;
}

.block-font() {
  font-family: "Komikazoom";
  text-transform: uppercase;
}

.hand-font() {
  font-family: "Covered By Your Grace";
  font-size: 1.5rem;
}

.kanji-font() {
  font-family: 'New Tegomin';
}

/**
* Colours
**/

@bg-color: #f3efdc;
@bg-fade-color: #dfd3b4;
@accent-color: #baaf6b;
@text-color: #111;

@firebender: #b62127;
@waterbender: #4d63a9;
@earthbender: #3c6733;
@airbender: #d4b450;
@weaponsmith: #4d4d4f;
@technologist: #6a2e7e;

.bg-fade(@distance: 5%) {
  background-color: @bg-color;
  background-image: linear-gradient(@bg-fade-color 0%, @bg-color @distance, @bg-color 100%);
}
