@import "./config.less";

.window-header{
  .title-font();
}

.legends {
  // colours
  .water { color: @waterbender; }
  .fire { color: @firebender; }
  .earth { color: @earthbender; }
  .air { color: @airbender; }
  .weapons { color: @weaponsmith; }
  .technology { color: @technologist; }
  .black { color: @text-color; }
  .white { color: white; }

  // Flex layout classes
  .row{
    display: flex;
    flex: 0;
    flex-direction: row;
  }

  .column{
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .cell {
    flex: 1;

    &.cell-2{ flex: 2 !important; }
    &.cell-3{ flex: 3 !important; }
  }

  // Basic text
  p, li { .main-font(); }

  p{
    margin: 0;
    margin-bottom: 0.7rem;
  }

  input, textarea, select {
    font-family: Arial, Helvetica, sans-serif;
  }

  img{
    border: 0;
  }

  // Headings
  h1, h2, h3, h4 {
    border: none;
    font-family: inherit;
    input {
      font-family: inherit;
      font-size: inherit;
      font-variant: inherit;
      text-transform: inherit;
    }
  }
  h1 { font-size: 2rem; }
  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.2rem; }

  // Links
  a{
    color: @accent-color;
    &:hover{
      color: black;
      text-shadow: 0 0 6px @accent-color;
    }
  }

  // Font classes
  .block { .block-font(); }
  .brush { .brush-font(); }
  .title { .title-font(); }
  .hand { .hand-font(); }
  .text { .main-font(); }

  // Sizes
  .large { font-size: 1.5em; }
  .small { font-size: 0.8rem; }

  // Alignment && position
  .left { text-align: left !important; }
  .center { text-align: center !important; }
  .right{ text-align: right !important; }
  .float-right { float: right; }
  .float-left { float: left; }
  .pad-25{ margin: 0.25rem; }
  .pad-50{ margin: 0.5rem; }
  .pad-75{ margin: 0.75rem; }
  
  .no-margin { margin: 0 !important; }
}

@import "./sheets.less";
@import "./player-sheet.less";
@import "./npc-sheet.less";
@import "./item-sheet.less";
@import "./messages.less";
@import "./dialog.less";
