// out: false

@import "./config.less";
@import "./sheets.less";

.legends.sheet.player-sheet {
  .kanji{
    &::before,
    &::after {
      .kanji-font();
      color: @firebender;
      padding: 0;
      font-size: 70%;
      vertical-align: text-top;
    }
  }

  h1, h2, h3, h4{
    border: none;

    .actions{
      font-size: 80%;
      a{
        padding: 0 0 0 0.5rem;
      }
    }
  }

  .sheet-header{
    .playbook{
      input{
        border: none;
      }
    }
    .name{
      background: white;
      border: 2px solid @accent-color;
      border-radius: 0.25rem;
      width: 98px;
      margin: 8px 2%;
      .name-label{
        font-size: 0.9rem;
        padding: 4px 0 0 4px;
      }
      input{
        border: none;
        width:100%;
        height:100%;
        font-size: 1.5rem;
        padding: 0.5rem;
      }
    }
  }

  .training {
    display: block;
    flex: none;
    .trainings {
      text-align: center;
      margin: 2rem 0 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .training-type {
        display: inline-block;
        margin: 0 1rem;
        flex: 1;
        .title-font();
        opacity: 0.25;
        &:hover{
          opacity: 0.75;
        }
        &.selected{
          opacity: 1 !important;
        }

        img{
          width: 3rem;
          border: none;
        }
      }
    }

    .fighting-style {
      text-align: center;
      padding: 0.5rem 0.5rem 0.2rem;

      label {
        padding: 0.5rem;
        background: white;
        border: 2px solid @accent-color;
        border-bottom: none;
        border-radius: 0.5rem 0.5rem 0 0;

        input {
          display: inline-block;
          width: 40%;
          text-align: left;
          border: none;
        }
      }
    }
  }

  .main {
    display: block;
    flex: none;
    margin: 0 -8px 1rem;
    padding: 0 8px;
    border-top: 2px solid @firebender;
    border-bottom: 2px solid @firebender;
    background: @bg-fade-color;
    box-shadow: inset 0 0 100px @accent-color;

    .stats-fatigue,
    .conditions {
      flex: 2;
      margin: 1rem 0.5rem;

      .stats{
        input {
          text-align: center;
          width: 2rem;
          height: 2rem;
          border: 3px solid black;
          border-radius: 50%;
          background: white;
          margin: 0 0.5rem;
        }
      }

      .fatigue {
        margin-top: 2rem;

        a.set-fatigue{
          color: @firebender;
        }

        .boxes{
          font-size: 2rem;
        }
      }
    }

    .balance {
      flex: 3;
      margin: 1rem 0.5rem;

      .balance-black, .balance-white{
        padding: 0.5rem;
        border-radius: 0.5rem;
        input{
          border: none;
          padding: 0.25rem 0.5rem;
          margin: 0;
          width: auto;
        }
      }

      .balance-black{
        // background: url('./images/brush_black.png');
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: top left;
        color: white;
        background-image: linear-gradient(to right, @text-color 0%, @text-color 50%, rgba(0,0,0,0) 90%);
        margin-bottom: 0;
        
        input{
          color: white;
        }
      }
      .balance-white{
        // background: url('./images/brush_white.png');
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: top right;
        background-image: linear-gradient(to left, white 0%, white 50%, rgba(0,0,0,0) 90%);
        color: @text-color;
        input{
          color: @text-color;
          text-align: right;
        }
      }

      ul.balance-track, ul.balance-center-track{
        display: flex;
        flex-direction: row;
        flex-wrap: none;
        margin: 0;
        padding: 0;

        li{
          list-style: none;
          flex: 1;
          text-align: center;
        }
      }

      ul.balance-center-track {
        height: 1.2rem;
      }

      ul.balance-track{
        &.black li, &.white li{
          .num{
            display: inline-block;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin: 0.5rem;
            padding: 4px 0;
            border: 2px solid;
          }

          &.selected{
            .num{
              background: @firebender;
              color: white;
            }
          }
        }

        &.black li{
          .num{
            background: @text-color;
            color: white;
            border-color: @text-color;
          }
          &:hover .num{
            border-color: @firebender;
          }
        }

        &.white li{
          .num{
            background: white;
            color: @text-color;
            border-color: white;
          }
          &:hover .num{
            border-color: @firebender;
          }
        }
      }
    }
  }

  .conditions {
    flex: 1;

    .condition {
      margin-bottom: 0.5rem;

      p {
        margin-top: 0;
        font-size: 1rem;

        &.title {
          margin: 0;
        }
      }
    }
  }

  .feature-moves{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .feature{
      flex: 1;
      margin: 0 1rem;

      h2{
        a{
          color: black;
        }
      }

      .body{
        h1, h2, h3, h4 {
          .title-font();
          font-size: 1.1rem;
        }
      }
    }

    .moves-techniques {
      flex: 1;
      flex-direction: column;
      margin: 0 1rem;

      .moves{
        .move {
          margin: 0 0 1rem;
          flex: 1;

          h3 {
            margin: 0;
          }

          p {
            margin: 0;
          }
        }
      }

      .techniques {
        flex: 1;
        margin: 1rem 0;
        border-top: 1px solid @accent-color;
        padding-top: 1rem;
  
        .kanji {
          &::before {
            content: '武';
          }
  
          &::after {
            content: '術';
          }
        }
  
        .technique {
          margin-bottom: 0.5rem;
  
          h3, h4, p {
            margin: 0;
          }
  
          h4 {
            color: @firebender;
            font-size: 0.9rem;
  
            a.set-proficiency{
              color: @text-color;
  
              .fa-times-circle {
                color: @firebender !important;
              }
            }
          }
        }
      }
    }
  }

  .character{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid @accent-color;
    padding-top: 0.5rem;

    .growth{
      flex: 1;
      margin: 0 1rem;

      .moment-of-balance{
        margin-bottom: 0.5rem;

        .kanji{
          text-align: center;
          &::before, &::after{
            position: relative;
            top: 4px;
          }
          &::before{
            content: '平';
          }
          &::after{
            content: '衡';
          }
        }

        .moment {
          border: 2px solid @accent-color;
          border-radius: 4px;
          padding: 8px;

          p:last-child{
            margin-bottom: 0;
          }
        }
      }
    }

    .about{
      flex: 1;
      margin: 0 1rem;

      .look{
        background: white;
        border: 2px solid @accent-color;
        border-radius: 0.2rem;
        display:block;
        padding: 0.25rem;
        margin-bottom: 0.5rem;

        .title{
          padding: 4px;
        }

        textarea{
          resize: vertical;
          width: 100%;
          min-height: 150px;
          border: none;
        }
      }
    }
  }
}
